
body {
  margin-bottom: 50px;
}

.main-content {
  padding-left: 50px;
  padding-right: 50px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 80px;
  background-color: #E8E8E8;
}

.top {
  float: inherit;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.jumbotron {
  background-color: #2b954d;
  border-radius: 10px;
}

.white {
  color: white;
}

.secondary-content {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #D6FFD4;
  padding-top: 30px;
}

.panel-title {
  font-size: 20pt;
}
